body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    width: 500px;
    background: rgba(0,0,0,0.6);
    border-radius: 5px;
    color:  rgb(192, 189, 207);
    text-align: center;
  
}
.container h1{
    text-align: center;
}
.row p{
    
    padding-top: 8px;
    /*padding-left: 20px;*/
    text-align: center;
    /*color: rgb(192, 189, 207);*/
    font-size: larger;
    cursor: pointer;
    
}
.row p:hover{
    background-color: rgb(151, 224, 200);
    /*background-color: rgb(108, 211, 177);*/
    color: #fff;
    /*box-shadow: 0px 4px #6b54d3;*/
}
.row span{
    padding-left: 50px;
}
#preguntas{
    text-align: center;
}
/*#preguntas th{
    background-color: blue;
}*/
#ask{
    /*padding-left: 100px;*/
    font-size:xx-large;
    display: none;
    overflow: hidden;
}

#dQuestion{
    width:350px; 
    height:500px;
    overflow:auto;
    padding-left: 100px;
}

#opRes{
    display: none; 
}

#finJuego {
    color:  rgb(192, 189, 207);
    font-size: xx-large;
    display: none;
}
#tTotal{
    font-size: xx-large;
}

#conteoJuego p{
    font-size: 100px;
    color: rgb(132, 22, 165);
}
